<header>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="#resume">Resume</a></li>
          <li><a href="#education">Education</a></li>
          <li><a href="#project">Companies worked on</a></li>
          <li><a href="#online-courses">Online Courses</a></li>
          <li><a href="#contact">Contact</a></li>
        </ul>
        <!--<ul class="nav navbar-nav navbar-right">-->
          <!--<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>-->
        <!--</ul>-->
      </div>
    </div>
  </nav>
</header>
