<header>
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ baseurl }}">Krishna Prasad</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<!-- Left menu nav -->
				<ul class="nav navbar-nav">
					<li><a href="#resume">Resume</a></li>
					<li>
						<a href="https://github.com/krishnaiitd" target="_blank">
						<img alt="Github" src="{{ site.baseurl }}/images/github-128.png" width="25"> GitHub
						</a>
					</li>
					<li>
						<a href="http://stackoverflow.com/users/3181159/krishna-prasad?tab=topactivity" target="_blank">
							<img alt="Stack Overflow" src="{{ site.baseurl }}/images/Stackoverflow-128.png" width="25">Stack Overflow
						</a>
				</li>
				</ul>
				<!-- Right menu nav -->
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#contact">Contact me</a></li>
					<li><a href="https://www.linkedin.com/in/krishna-prasad-b8a86223" target="_blank">
						<img alt="LinkedIn Account" src="{{ site.baseurl }}/images/LinkedIn.png" width="25"> LinkedIn Account
						</a>
					</li>
					<li><a href="https://twitter.com/kprasadiitd" target="_blank">
						<img alt="Twitter Account" src="{{ site.baseurl }}/images/Twitter-48.png" width="25">Twitter Account
						</a>
					</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</div><!-- /.container-fluid -->
	</nav>
</header>
